@import '../styles/variables';

.App {
  position: relative;
  width: 100%;
  height: $block-size * 12;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: $block-size * 9 48px 1fr;
}

.Controls {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr $block-size * 2 $block-size * 4;
  align-items: center;
  justify-items: flex-end;
  padding: 0 $block-size;
  background: var(--secondary-color);
}

.Score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
}

.ScoreItem {
  width: $block-size;
  height: $block-size;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3px;
  background: var(--main-light);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 5px 12px rgba(0, 0, 0, 0.5);
}

.ScoreItemAdd {
  width: $block-size;
  height: $block-size;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3px;
  background: var(--main-light);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  user-select: none;
  background: var(--main-color);
}

.User {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  justify-self: flex-start;
  color: var(--info-color);
}

.GameNumber {
  background: var(--secondary-color-lighten);
  color: var(--main-light);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .App {
    height: $block-size * 12 / 2;
    grid-template-rows: $block-size * 9 / 2 24px 1fr;
  }

  .Controls {
    grid-template-columns: 1fr $block-size $block-size * 2;
    padding: 0 $block-size / 2;
  }

  .ScoreItem {
    width: $block-size / 2;
    height: $block-size / 2;
    font-size: 1rem;
  }

  .ScoreItemAdd {
    width: $block-size / 2;
    height: $block-size / 2;
    font-size: 1rem;
  }

  .User {
    font-size: 1rem;
  }
}