@import '../../styles/variables';

.Button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 2rem;
  width: $block-size * 3;
  height: $block-size * 1.5;
  background: var(--main-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: inset 0 -8px 2px rgba(0, 0, 0, 0.3);
  padding-bottom: 8px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  &:active {
    margin-bottom: -4px;
    height: 71px;
    padding-bottom: 4px;
    box-shadow: inset 0 -4px 2px rgba(0, 0, 0, 0.3);
  }

  &.Disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &.Small {
    font-size: 1rem;
  }
}


@media screen and (max-width: 720px) {
  .Button {
    font-size: 1rem;
    width: $block-size * 3 / 2;
    height: $block-size * 1.5 / 2;
    padding-bottom: 8px;
    &:active {
      margin-bottom: -4px;
      height: $block-size * 1.5 / 2 - 4px;
      padding-bottom: 4px;
      box-shadow: inset 0 -4px 2px rgba(0, 0, 0, 0.3);
    }

    &.Disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}