.Button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 2rem;
  width: 150px;
  height: 75px;
  background: var(--main-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: inset 0 -8px 2px rgba(0, 0, 0, 0.3);
  padding-bottom: 8px;
  transition: 0.1s ease-in-out;
  cursor: pointer; }
  .Button:active {
    margin-bottom: -4px;
    height: 71px;
    padding-bottom: 4px;
    box-shadow: inset 0 -4px 2px rgba(0, 0, 0, 0.3); }
  .Button.Disabled {
    opacity: 0.7;
    pointer-events: none; }
  .Button.Small {
    font-size: 1rem; }

@media screen and (max-width: 720px) {
  .Button {
    font-size: 1rem;
    width: 75px;
    height: 37.5px;
    padding-bottom: 8px; }
    .Button:active {
      margin-bottom: -4px;
      height: 33.5px;
      padding-bottom: 4px;
      box-shadow: inset 0 -4px 2px rgba(0, 0, 0, 0.3); }
    .Button.Disabled {
      opacity: 0.7;
      pointer-events: none; } }

/*# sourceMappingURL=Button.css.map */
