@import '../../styles/variables';

.Coin {
  cursor: pointer;
  position: relative;
  width: $block-size;
  height: $block-size;
  border-radius: 50%;
  background: var(--main-color);
  border: 1px solid var(--main-color-darken);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 2;
  box-shadow: 1px 2px 0 0 var(--main-color-darken), inset 1px 1px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  &.Small {
    box-shadow: 0 1px 0 0 var(--main-color-darken), inset 0 0 0 rgba(0, 0, 0, 0.3);
    width: $block-size / 2;
    height: $block-size / 2;
  }

  &:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 30%;
    background: var(--main-light);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 0.3;
    z-index: 1;
    animation: blink 10s ease-in-out infinite;
  }
}

.CoinIcon {
  width: 32px;
  height: 32px;

  &.SmallIcon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 720px) {

  .Coin {
    box-shadow: 0 1px 0 0 var(--main-color-darken), inset 0 0 0 rgba(0, 0, 0, 0.3);
    width: $block-size / 2;
    height: $block-size / 2;
  }

  .CoinIcon {
    width: 16px;
    height: 16px;
  }
}

@keyframes blink {
  0% {
    top: -50%;
  }
  90% {
    top: -50%;
  }
  100% {
    top: 150%;
  }
}