.Slot {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(245,245,245);
  //background: linear-gradient(180deg, rgba(189,189,189,1) 0%, rgba(245,245,245,1) 25%, rgba(245,245,245,1) 75%, rgba(189,189,189,1) 100%);
  //box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), inset 0 8px 4px rgba(0, 0, 0, 0.5), inset 0 -8px 4px rgba(0, 0, 0, 0.5);
  perspective: 800px;

  &.Highlight {
    animation-name: highlight;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
  }

  &:before {
    z-index: 1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), inset 0 8px 6px rgba(0, 0, 0, 0.5), inset 0 -8px 6px rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, rgba(0, 0 ,0, 0.3) 0%, rgba(245,245,245,0) 25%, rgba(245,245,245,0) 75%, rgba(0, 0 ,0, 0.3) 100%);
  }
}

.Rotate {
  position: relative;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  //transform: translate3d(0, 0, -300px);

  -webkit-transform-style: preserve-3d;

  border: var(--debug);
}

.Ring {
  position: relative;
  //display: grid;
  transform-origin: center;
  width: 0;
  height: 0;
  //align-items: center;
  //justify-items: center;

  border: var(--debug);

  transform-style: preserve-3d;

  transition: 0.1s linear;
  &.Fast {
    animation-name: x-spin;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.38,0,.44,1.44);
    &.X1 {
      animation-duration: 15s;
    }

    &.X2 {
      animation-duration: 10s;
    }

    &.X3 {
      animation-duration: 5s;
    }
  }
}

.Poster {
  width: 128px;
  height: 128px;
  backface-visibility: hidden;
}

.Picture {
  position: absolute;
  left: 0;
  top: 0;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  transform-origin: top;
  backface-visibility: hidden;
  width: 128px;
  height: 128px;
  border: var(--debug);
}

@media screen and (max-width: 720px) {
  .Picture {
    width: 96px;
    height: 96px;
  }

  .Poster {
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-width: 540px) {
  .Picture {
    width: 64px;
    height: 64px;
  }

  .Poster {
    width: 64px;
    height: 64px;
  }
}

.PictureInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.Number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: var(--main-light);
  z-index: 1;
}

@keyframes x-spin {
  0%    {
    transform: rotateX(0deg);
  }
  100%  {
    transform: rotateX(1800deg);
  }
}

@keyframes highlight {
  0%    {
    box-shadow: inset 0 0 0px 0px rgba(255, 20, 0, 0.3);
  }
  50%  {
    box-shadow: inset 0 0 60px 30px rgba(255, 20, 0, 0.3);
  }
  100%    {
    box-shadow: inset 0 0 0px 0px rgba(255, 20, 0, 0.3);
  }
}