@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

:global #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

:root {
  --debug: none;
  --main-color: #FDD835;
  --main-color-darken: #987c02;
  --main-color-lighten: #feec9a;
  --main-light: white;
  --secondary-color: #212121;
  --secondary-color-lighten: #3b3b3b;
  --info-color: #2196F3; }

/*# sourceMappingURL=index.css.map */
