@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import './variables';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:global #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  //--debug: 1px solid red;
  --debug: none;
  --main-color: #FDD835;
  --main-color-darken: darken(#FDD835, 30%);
  --main-color-lighten: lighten(#FDD835, 20%);
  --main-light: white;
  --secondary-color: #212121;
  --secondary-color-lighten: lighten(#212121, 10%);
  --info-color: #2196F3;
}