.ModalWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow-y: auto;
}

.Modal {
  width: auto;
  height: auto;
  background: var(--main-light);
  border-radius: 3px;
  //border: 1px solid var(--secondary-color);
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}