.Wrapper {
  height: 450px;
  width: 100%; }

.Logo {
  width: 100%;
  height: 150px;
  display: grid;
  align-items: center;
  justify-items: center;
  color: var(--main-color);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border: 1px solid var(--main-color);
  background: var(--secondary-color);
  border-bottom: none;
  font-size: 3rem;
  font-weight: 700;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.Machine {
  width: 100%;
  height: 100%;
  padding: 50px;
  background: var(--main-color);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.2); }

.MachineInner {
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-color);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  align-items: center;
  justify-items: center;
  border-radius: 3px; }

@media screen and (max-width: 720px) {
  .Wrapper {
    height: 225px; }

  .Machine {
    padding: 25px; }

  .MachineInner {
    grid-column-gap: 12.5px; } }

/*# sourceMappingURL=Machine.css.map */
