.MainRules {

}

.Rules {
  display: grid;
  grid-template-columns: 48px * 3 + 24px 150px 1fr;
  grid-template-rows: 50px;
  align-items: center;
  justify-items: flex-start;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.RuleIcon {
  display: flex;
  align-self: center;
  justify-self: center;
}

.RuleName {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.RulePicture {
  padding: 4px;
  width: 40px;
  height: 40px;
}

.RuleDescription {
  justify-self: flex-start;
  padding-left: 1rem;
}